__pycache__/
*.py[cod]
*.pyo
*.pyd

.Python
.venv/
venv/
env/

.env
*.db
*.sqlite
*.sqlite3

.pytest_cache/
.coverage
htmlcov/

app/logs/*
!app/logs/.gitkeep

app/data/*
!app/data/.gitkeep
!app/data/known_faces/
app/data/known_faces/*
!app/data/known_faces/.gitkeep

.DS_Store
Thumbs.db
